[submodule "valgrind"]
	path = third_party/valgrind
	url = https://sourceware.org/git/valgrind.git
	branch = VALGRIND_3_26_0
[submodule "ThrowTheSwitch/Unity"]
	path = third_party/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = v2.6.1
[submodule "third_party/emsdk"]
	path = third_party/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = 4.0.22
